@import "tailwindcss";

html, body {
  background-color: #f8f2e7;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f2e7;
}